:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #727cf5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg,#8f75da 0,#727cf5 60%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg,#8f75da 0,#727cf5 60%)
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

